name: Lint

on: push

jobs:

  lint:
      name: Lint code base

      runs-on: ubuntu-latest

      steps:

        - name: Checkout code
          uses: actions/checkout@v2

        - name: Run KtLint
          run: ./gradlew lintKotlin

        - name: Run Detekt
          run: ./gradlew detekt